<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/commonHF :: myHeader}"></div>
    <title>Offerte</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/navbar :: navbar('pizze')}"></nav>
    <main class="flex-grow-1">
        <div class="container py-4">
            <h1 class="text-center my-4">Offerta <span th:text="${offerta.pizzaEl.nome}"></span></h1>
            <hr />
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <form id="offerta-form" 
                        th:object="${offerta}"
                        th:action="${editMode} ? @{|/offerte/edit/${offerta.id}|} : @{/offerte/create}" 
                        method="post"
                        class="p-4 rounded shadow bg-light">

                        <input type="hidden" th:field="${offerta.pizzaEl}" id="pizza">

                        <div class="mb-3">
                            <label class="form-label" for="dataInizio">Data inizio </label>
                            <input type="date" class="form-control" id="dataInizio" th:field="*{dataInizio}"
                                    th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('dataInizio')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('dataInizio')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="dataFine">Data  fine</label>
                            <input type="date" class="form-control" id="dataFine" th:field="*{dataFine}"
                                    th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('dataFine')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('dataFine')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="titolo">Titolo</label>
                            <input type="text" class="form-control" id="titolo" th:field="*{titolo}" th:errorClass="is-invalid">
                            <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Custom error -->
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" ></li>
                        </ul>

                        <div class="d-flex gap-2">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Save</button>
                            <a class="btn btn-danger" th:href="@{|/pizze/show/${offerta.pizzaEl.id}|}"><i class="fas fa-times"></i>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </main>
<div th:insert="~{fragments/commonHF :: myFooter}"></div>
</body>
</html>