<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/commonHF :: myHeader}"></div>
     <title>Modificare una pizza</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/navbar :: navbar('pizze')}"></nav>
        
    <main class="flex-grow-1">
        <div class="container py-4">
            <h1>Pizza Nuova</h1>
            <hr />

            <form id="pizza-form" 
                  th:object="${pizza}" 
                  th:action="@{/pizze/create}" 
                  method="post"
                  class="p-4 rounded shadow bg-light">
                <div class="row">
                        <!-- Info per la nuova pizza-->
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" th:field="*{nome}"
                                        th:errorClass="is-invalid">
        
                                    <ul th:if="${#fields.hasErrors('nome')}">
                                        <li th:each="err : ${#fields.errors('nome')}" class="text-danger" th:text="${err}"></li>
                                    </ul>
                                </div>
        
                                <div class="col-12">
                                    <label class="form-label">Ingredienti</label>
                                    <textarea type="text" class="form-control" id="descrizione" th:field="*{descrizione}"
                                        th:errorClass="is-invalid" rows="3">
                                        </textarea>
                                    <ul th:if="${#fields.hasErrors('descrizione')}">
                                        <li th:each="err : ${#fields.errors('descrizione')}" class="text-danger" th:text="${err}"></li>
                                    </ul>
                                </div>
        
                                <div class="col-12">
                                    <label class="form-label">Foto</label>
                                    <input type="text" class="form-control" id="foto" th:field="*{foto}"
                                        th:errorClass="is-invalid">
                                        
                                    <ul th:if="${#fields.hasErrors('foto')}">
                                        <li th:each="err : ${#fields.errors('foto')}" class="text-danger" th:text="${err}"></li>
                                    </ul>
                                </div>
        
                                <div class="col-12">
                                    <label class="form-label">Prezzo in euro</label>
                                    <input type="text" class="form-control" id="prezzo" th:field="*{prezzo}"
                                        th:errorClass="is-invalid">
                                        
                                    <ul th:if="${#fields.hasErrors('prezzo')}">
                                        <li th:each="err : ${#fields.errors('prezzo')}" class="text-danger" th:text="${err}"></li>
                                    </ul>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary mt-2" type="submit"><i class="fas fa-check"></i> Save</button>
                                    <a class="btn btn-danger mt-2" th:href="@{/pizze}"> <i class="fas fa-times"></i> Cancel</a>
                                </div>

                            </div>
                        </div>
                        <!-- ingredienti -->
                        <div class="col-4">
                        <h4>Ingredienti</h4>
                        <div class="form-check" th:each="ing : ${ingredientiList}">
                            <input class="form-check-input" type="checkbox" th:id="${ing.id}" th:value="${ing.id}" th:field="*{ingredienti}"> 
                            <label class="form-check-label" th:for="${ing.id}" th:text="${ing.ingrediente}"></label>
                        </div>
                        </div>
                    </div>
                </form>
        </div>
    </main>
       
    <div th:insert="~{fragments/commonHF :: myFooter}"></div>
</body>
</html>