<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/commonHF :: myHeader}"></div>
    <title th:text="|Pizza ${pizza.nome}|"></title>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{fragments/navbar :: navbar('pizze')}"></nav>

    <main class="flex-grow-1">
        <div class="container py-4" th:object="${pizza}">
            <h1 class="text-center my-4">La pizza scelta</h1>

            <div class="row justify-content-center">
                <!-- Le info per la pizza selezionata -->
                <div class="col-md-6 col-lg-5">
                    <h3>Info sulla pizza</h3>
                    <hr>
                    <dl>
                        <dt>Nome pizza</dt>
                        <dd th:text="*{nome}"></dd>
                    </dl>
                    <dl>
                        <dt>Descrizione pizza</dt>
                        <dd th:text="*{descrizione}"></dd>
                    </dl>
                    <dl>
                        <dt>Prezzo pizza</dt>
                        <dd th:text="|*{prezzo} €|"></dd>
                    </dl>
                </div>
                <!-- Li ingredienti della pizza selezionata -->
                <div class="col-md-6 col-lg-5">
                    <h3>Ingredienti</h3>
                    <hr>
                    <ol class="list-group list-group-numbered">
                        <li th:each="ing : *{ingredienti}" 
                            th:text="${ing.ingrediente}">
                        </li>
                    </ol>
                </div>
                
            </div>
            
            <!-- Row delle Offerte -->
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <h1 class="text-center my-4">Offerte</h1>
                    <div class="mb-2">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered align-middle" 
                                   th:if="${pizza.getOfferte().size() > 0}">
                                <thead class="table-light">
                                    <tr>
                                        <th class="text-center">Data inizio</th>
                                        <th class="text-center">Data fine</th>
                                        <th class="text-start">Titolo</th>
                                        <th class="text-center">Stato</th>
                                        <th class="text-center">Azioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="offerta : ${pizza.getOfferte()}">
                                        <td class="text-center" th:text="${offerta.dataInizio != null ? offerta.dataInizio.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : '—'}"></td>
                                        <td class="text-center" th:text="${offerta.dataFine != null ? offerta.dataFine.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : '—'}"></td>
                                        <td th:text="${offerta.titolo}"></td>
                                        <td class="text-center">
                                           <span th:if="${offerta.dataFine >= T(java.time.LocalDate).now()}" class="badge bg-success">Attiva</span>
                                           <span th:if="${offerta.dataFine < T(java.time.LocalDate).now()}" class="badge bg-warning text-dark">Scaduta</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-outline-primary" th:href="@{|/offerte/edit/${offerta.id}|}" title="Modifica offerta">
                                                <i class="bi bi-pencil-fill fs-5 me-1"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="mb-2">
                        <!-- Creazione di una nuova offerta id=${pizza.id}-->
                        <a class="btn btn-success" th:href="@{|/pizze/${pizza.id}/offerta|}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-journal-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                                <path
                                    d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                <path
                                    d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                            </svg>
                            Nuova Offerta
                        </a>
                    </div>
                    <div th:unless="${pizza.getOfferte().size() > 0}">
                        <div class="alert alter-primary">
                            Non esiste nessuna offerta per questa pizza!
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </main>

<div th:insert="~{fragments/commonHF :: myFooter}"></div>
</body>
</html>